<!DOCTYPE html>
<html>
  <head>
    <title><%= controller_name %> v3.0</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	 <%= render 'homes/navbar' %>
  	<div class="container">
      <%= yield %>
	 </div>
  </body>
</html>
